force-app/main/default/flows/Update_Book_Stock.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <formulas>
        <name>UpdateBookStock</name>
        <dataType>Number</dataType>
        <expression>{!Get_Book_Id.Book_detail__r.Book_Stock__c} - {!Get_Book_Id.Quatity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdatevalueforStock</name>
        <dataType>Number</dataType>
        <expression>{!Get_Book_Id.Book_detail__r.Book_Stock__c} - {!Get_Book_Id.Quatity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Book Stock {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Update Book Stock</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Book_Id</name>
        <label>Get Book Id</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Stock</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Book_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Stock</name>
        <label>Update Stock</label>
        <locationX>413</locationX>
        <locationY>231</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Book_Id.Book_detail__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Book_Stock__c</field>
            <value>
                <elementReference>UpdatevalueforStock</elementReference>
            </value>
        </inputAssignments>
        <object>Book__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Book_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
